  /* .fade {
    opacity: 0.9 !important;
    transition: opacity .15s linear;
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .fade.show {
    opacity: 1;
  } */

.App {
  text-align: center;
  width:40%;
  margin: 10px auto;
}

/* .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(255,255,255,0.4);
} */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
} */